locals {
  # AWS Region & Network Information
  aws_region      = "us-west-2"              # Replace with your AWS region
  vpc_cidr_block  = "10.0.0.0/16"           # Replace with your VPC CIDR block
  azs             = ["us-west-2a", "us-west-2b", "us-west-2c"]  # Replace with your Availability Zones
  private_subnets = ["10.0.0.0/20", "10.0.16.0/20", "10.0.32.0/20"]  # Replace with private subnet CIDR blocks
  public_subnets  = ["10.0.48.0/24", "10.0.49.0/24", "10.0.50.0/24"]  # Replace with public subnet CIDR blocks

  # Project Information
  environment     = "dev"                   # Replace with your environment type (dev, staging, production)
  repository      = "github.com/your/repo"  # Replace with your GitHub repository URL

  # EKS Information
  cluster_name    = "my-cluster"           # Replace with your EKS cluster name
  cluster_version = "1.21"                 # Replace with your EKS cluster version

  # RDS Information
  rds_identifier = "demo-mysql-5-7"
  rds_database_name = "demo"
  rds_username    = "master"               # Replace with your RDS master username
  rds_password    = "your_password"        # Replace with your RDS master password

}
